/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box; /*when I give an item a width I want padding and margin to be applied within that width not in addition to it*/
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1.5px solid #4f4f4f;     */
}

/*General styles*/
html{
    font-family: 'Poppins', sans-serif;
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height:1.5;
    background-color: #FBFFFB;
    color:#4f4f4f;
}
h1{
    font-size:5rem;
    color: #4f4f4f;
    border-bottom:1.5px solid #4f4f4f;
}
h2{
    font-size:4.25rem;
    text-align:center;
}
h3{ 
    font-size:3.5rem;
    text-align:center;
}
p{
    font-size: 2.75rem;
}
button{
    font-size: 2rem;
}

/*helper class*/
.bgimg{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url('https://picsum.photos/1000');
    width: 50%;
    padding: 20%;
    /* margin-top: 3.5%; */
}
/*Header*/
nav{
    display:flex;
    justify-content:space-between;
    position:fixed;
    flex-direction: column;
    top:0;
    width:100%;
    background-color:rgba(255, 255, 255, 0.8);
    z-index: 999;
    padding: 2% 1%;
    border:1.5px solid #4f4f4f;
}
.links{
    width:40%;
    display:flex;
    /* justify-content: space-between; */
    /* align-items: flex-end; */
}
a{
    text-decoration: none;
    /* display: inline-block; */
    padding: 2%;
    font-size: 2.25rem;
    color: #4f4f4f;
    background-color: #FBFFFB;
    border:1.5px solid #4f4f4f;
}
a:hover{
    background-color: #4f4f4f;
    color: #FBFFFB;
    transition: .5s;
    border:1.5px solid #4f4f4f;
}

/*about styling*/
#about{
    /* padding-top: 11.5%; */
    display: flex;
    width: 100%;
}
.text-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    /* padding-left: 2%; */
}
.text-container button{
    width: auto;
    margin: 2%;
    padding: 2%;
}

/*gallery styling*/
.row1, .row2{
    display:flex;
    text-align: center;
    justify-content: space-between;
    margin:2% 0;
   
}

/*footer styling*/
footer{
    border-top: 1.5px solid #4f4f4f;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3%;
    /* background-color: gray; */
    text-align: center;
}

footer a{
    margin-top: 5%;
}

/*media queries*/
/*tablet view - 800px*/
#about{
    margin-top: 20%;
    /* margin: 20% 2% 2% 2% */
    padding: 0 2%;
}
#about p{
    font-size: 2.25rem;
    padding: 2%;
}
.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8{
    /* width: 50%; */
    padding: 2%;
}
footer h3{
    margin-bottom: 8%;
}

/*mobile-500px*/
@media (max-width: 500px){
    #about{
        margin-top: 45.25%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    #about h2{
        font-size: 3rem;
        margin-top: 3%;
    }
    #about p, button{
        font-size: 1.8rem;
    }
    .text-container{
        width: 80%;
    }
    .bgimg{
        width: 100%;
        padding: 35%; 
        background-image: url('https://picsum.photos/500/300');
    }
    h1{
        text-align: center;
        font-size: 4rem;
    }
    .links{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-content: center;
    }
    nav{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-bottom: 0;
    }
    .container{
        display: flex;
        justify-content: center;
        padding: 5%;
        align-content: center;
    }
    nav a{
        font-size: 1.5rem;
    }
    .gallery{
        display: flex;
        flex-flow: wrap;
        width: 100%;
    }
    .gallery p{
        font-size: 2rem;
    }
    .row1, .row2{
        flex-flow: wrap;
        width:100%;
        margin: 0;
        padding: 2%;
    }
    .pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8{
        width: 50%;
        padding: 3%;
    }
    footer h3{
        font-size: 2.5rem;
        margin-bottom: 6%;
    }
    footer a{
        margin-top: 10%;
        font-size: 1.75rem;
    }
}